services:
  server:
    image: nginx:latest
    container_name: nginx
    ports:
      - '80:80'
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
    restart: always

  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    container_name: nest
    ports:
      - '3000:3000'
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env.development
    depends_on:
      - db
    # healthcheck:
    #   test: ['CMD', 'curl', '-f', 'http://localhost:3000/api/v1']
    #   interval: 10s
    #   timeout: 5s
    #   retries: 3
    restart: always

  db:
    image: postgres:16-alpine
    container_name: postgres
    ports:
      - '5432:5432'
    env_file:
      - .env.development
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${POSTGRES_USER:-postgres}']
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always

  adminer:
    image: adminer
    container_name: adminer
    ports:
      - '8080:8080'
    depends_on:
      - db
    restart: always

volumes:
  postgres-data:
