name: CI
on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - main

  # pull_request:
  #   branches:
  #     - 'staging'
  #     - 'main'
jobs:
  lint:
    strategy:
      matrix:
        node: [20, 22]
        os: [ubuntu-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v5

      - uses: ./.github/actions/node-setup
        with:
          node-version: ${{matrix.node}}
      - name: Lint
        run: npm run lint

  test:
    needs: lint
    strategy:
      matrix:
        node: [20, 22]
        os: [ubuntu-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/node-setup
        with:
          node-version: ${{matrix.node}}

      - name: Test
        run: echo "Skipping Tests... ☠️"

  build:
    needs: test
    strategy:
      matrix:
        node: [20, 22]
        os: [ubuntu-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/node-setup
        with:
          node-version: ${{matrix.node}}

      - name: Build Project
        run: npm run build

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: nestjs-build-${{matrix.node}}-${{matrix.os}}
          path: dist/
