name: CI
on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - 'dev/**'
      - 'core/**'

jobs:
  lint:
    strategy:
      matrix:
        node: [18, 20]
        os: [ubuntu-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: ./.github/actions/node-setup
        with:
          node-version: ${{matrix.node}}
      - name: Lint
        run: npm run lint

  test:
    needs: lint
    strategy:
      matrix:
        node: [18, 20]
        os: [ubuntu-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: ./.github/actions/node-setup
        with:
          node-version: ${{matrix.node}}

      - name: Test
        run: echo "Skipping Tests... ☠️"

  build:
    needs: test
    strategy:
      matrix:
        node: [18, 20]
        os: [ubuntu-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: ./.github/actions/node-setup
        with:
          node-version: ${{matrix.node}}

      - name: Build Project
        run: npm run build

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: nestjs-build
          path: dist/
